%div
  %h3.grey
    .small.right.normal-font
      Code Language is
      = code_language_select_tag
    Code
  %div= text_area_tag :code_body, '# it\'s a ruby code sample.', :cols => 60, :rows => 5, :class => "code"