<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<div class="ui-tabs ui-widget ui-widget-content ui-corner-all" style="border :none;">
	<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
	  <h2 style="float: left; margin: 0;">EZPad <small>  </small></h2>
		<li class="ui-state-default ui-corner-top"><a href="/">First</a></li>
		<li class="ui-state-default ui-corner-top ui-state-focus ui-tabs-selected ui-state-active"><a href="/">Second</a></li>
		<li class="ui-state-default ui-corner-top"><a href="/">Third</a></li>
	</ul>
</div>
